.svg__rect {
  fill: rgba(17, 17, 17, 0.85);
  transition: 0.2s linear, opacity 0.5s linear 0.3s, transform 0.5s linear 0.3s;
  transform: scaleX(0);
  cursor: pointer;
  color: #fff;
  opacity: 0;
  stroke-width: 1;
  stroke: #fff;

  &:hover {
    stroke: #111;
  }
}

text {
  font-size: 12px;
}

.svg__title {
  font-size: 35px;
  fill: #eee;

  @include mq(large) {
    font-size: 150px;
  }
}

.tick text {
  fill: #111;
}

g.svg__xAxis .tick text {
  transform: rotate(25deg);
  font-size: 10px;

  @include mq(medium) {
    font-size: 17px;
  }
}

.tick line {
  stroke: rgba(243, 123, 123, 0.3);
}

// .svg__lineChart {
//   fill: rgba(17, 17, 17, 0.5);
// }
