.lastSection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  padding: 60px 0 15px;
}

.main__lastSecTitle {
  width: 100%;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;

  @include mq(small) {
    font-size: 60px;
  }

  @include mq(large) {
    font-size: 100px;
  }
}

.main__lastSecSub {
  width: 90%;
  max-width: 400px;
  text-align: justify;
  font-size: 20px;
  margin: 0 auto;
}

.main__iconWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @include mq(xsmall) {
    flex-direction: row;
  }
}

.main__advice {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 33%;
  margin: 5px auto;
}

.main__icon {
  width: 130px;
  margin: 0 auto;
  opacity: 0;

  @include mq(large) {
    width: 160px;
  }
}

#icon1 {
  transition: 0.6s 0.4s linear;
}

#icon2 {
  transition: 0.6s 0.8s linear;
}

#icon3 {
  transition: 0.6s 1.2s linear;
}

#iconTitle1 {
  transition: 0.5s 1.2s linear;
}

#iconTitle2 {
  transition: 0.5s 1.6s linear;
}

#iconTitle3 {
  transition: 0.5s 2s linear;
}

.main__iconTitle {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  opacity: 0;

  @include mq(large) {
    font-size: 22px;
    margin: 25px 0;
  }
}
