.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: rgba(17, 17, 17, 0.9);
  transition: $transitionNavAndHeaderEle;
  z-index: 5;

  &--onPosition {
    box-shadow: 0 0 5px 1px #000;
  }

  &__ul {
    overflow: hidden;
  }

  &__list {
    list-style: none;
    transform: rotate(90deg);
    transform-origin: left;
    opacity: 0;
    transition: $transitionNavAndHeaderEle, opacity $transitionHeaderText 1.2s;

    &--onPosition {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  &__link {
    text-decoration: none;
    color: #eee;

    &:nth-child(2) {
      border-left: 1px solid #eee;
      padding: 10px 0 10px 10px;
    }
  }

  &__logo {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
