* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  background-color: rgba(17, 17, 17, 0.9);
  -webkit-transition: 1.5s 0.75s;
  transition: 1.5s 0.75s;
  z-index: 5;
}

.nav--onPosition {
  -webkit-box-shadow: 0 0 5px 1px #000;
          box-shadow: 0 0 5px 1px #000;
}

.nav__ul {
  overflow: hidden;
}

.nav__list {
  list-style: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0;
  -webkit-transition: 1.5s 0.75s, opacity 0.6s linear 1.2s;
  transition: 1.5s 0.75s, opacity 0.6s linear 1.2s;
}

.nav__list--onPosition {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
}

.nav__link {
  text-decoration: none;
  color: #eee;
}

.nav__link:nth-child(2) {
  border-left: 1px solid #eee;
  padding: 10px 0 10px 10px;
}

.nav__logo {
  width: 35px;
  vertical-align: middle;
  margin-right: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  background-color: #111;
  padding: 0 15px;
  color: #eee;
  -webkit-transition: 0.6s linear 0.75s;
  transition: 0.6s linear 0.75s;
  overflow: hidden;
  z-index: -1;
}

.header--height {
  min-height: calc(95vh - 65px);
}

@media (min-width: 1024px) {
  .header {
    padding: 0 50px;
  }
}

.header__title {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 45px;
  font-family: "Kufam", cursive;
  -webkit-transition: 1.5s 0.75s, opacity 0.6s linear 1.2s;
  transition: 1.5s 0.75s, opacity 0.6s linear 1.2s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0;
}

.header__title--onPosition {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 100px;
    text-align: left;
  }
}

.header__text {
  width: 100%;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  margin-bottom: 15px;
  font-family: "Kufam", cursive;
  opacity: 1;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
}

.header__text--onPostion {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__text--hideIt {
  opacity: 0;
}

.header__text:nth-child(1) {
  -webkit-transition: 0.6s linear 0.4s, opacity 0.6s linear 3s;
  transition: 0.6s linear 0.4s, opacity 0.6s linear 3s;
}

.header__text:nth-child(2) {
  -webkit-transition: 0.6s linear 0.8s, opacity 0.6s linear 3.2s;
  transition: 0.6s linear 0.8s, opacity 0.6s linear 3.2s;
}

.header__text:nth-child(3) {
  -webkit-transition: 0.6s linear 1.2s, opacity 0.6s linear 3.4s;
  transition: 0.6s linear 1.2s, opacity 0.6s linear 3.4s;
}

.header__text:nth-child(4) {
  -webkit-transition: 0.6s linear 1.6s;
  transition: 0.6s linear 1.6s;
}

.header__text:nth-child(5) {
  -webkit-transition: 0.6s linear 2s;
  transition: 0.6s linear 2s;
}

@media (min-width: 1024px) {
  .header__text {
    text-align: right;
  }
}

.header__textWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.header__titleWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main__title {
  width: 100%;
  text-align: center;
  font-size: 100px;
}

.main__chartSection,
.lastSection,
.introSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 50px;
}

@media (min-width: 1024px) {
  .introSection {
    padding-right: 120px;
  }
}

.main__introTitle {
  width: 80%;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

@media (min-width: 1024px) {
  .main__introTitle {
    font-size: 100px;
  }
}

.main__introSubtitle {
  width: 50%;
  text-transform: uppercase;
  font-size: 18spx;
  font-weight: 500;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

@media (min-width: 1024px) {
  .main__introSubtitle {
    font-size: 30px;
  }
}

.main__introBtn {
  width: 130px;
  height: 50px;
  background-color: #000;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .main__introBtn {
    width: 175px;
    height: 65px;
    font-size: 20px;
  }
}

.main__introBtn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.main__lastSecTitle {
  width: 100%;
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
}

.main__lastSecSub {
  width: 50%;
  text-align: justify;
  word-break: break-all;
  font-size: 20px;
  padding-top: 65px;
  margin-right: 15px;
  margin-left: 15px;
}

.svg__rect {
  fill: rgba(17, 17, 17, 0.85);
  -webkit-transition: 0.2s linear, opacity 0.5s linear 0.3s, -webkit-transform 0.5s linear 0.3s;
  transition: 0.2s linear, opacity 0.5s linear 0.3s, -webkit-transform 0.5s linear 0.3s;
  transition: 0.2s linear, opacity 0.5s linear 0.3s, transform 0.5s linear 0.3s;
  transition: 0.2s linear, opacity 0.5s linear 0.3s, transform 0.5s linear 0.3s, -webkit-transform 0.5s linear 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  cursor: pointer;
  color: #fff;
  opacity: 0;
  stroke-width: 1;
  stroke: #fff;
}

.svg__rect:hover {
  stroke: #111;
}

text {
  font-size: 12px;
}

.svg__title {
  font-size: 35px;
  fill: #eee;
}

@media (min-width: 1024px) {
  .svg__title {
    font-size: 150px;
  }
}

.tick text {
  fill: #111;
}

g.svg__xAxis .tick text {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  font-size: 10px;
}

@media (min-width: 800px) {
  g.svg__xAxis .tick text {
    font-size: 17px;
  }
}

.tick line {
  stroke: rgba(243, 123, 123, 0.3);
}

.fixedSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 60%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
          box-shadow: 1px 1px 1px 1px #ccc;
  opacity: 0;
  padding: 15px 10px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

@media (min-width: 640px) {
  .fixedSection {
    left: 75%;
  }
}

.fixedSection__text {
  line-height: 25px;
  font-size: 17px;
  font-family: "Kufam", cursive;
}

.fixedSection__country {
  padding: 1px 5px;
  background-color: #f8f3c6;
  color: #111;
}

.fixedSection__cases {
  padding: 1px 5px;
  background-color: #4e66dd;
  color: #eee;
}

.fixedSection__active {
  padding: 1px 5px;
  background-color: #338833;
  color: #eee;
}

.fixedSection__deaths {
  padding: 1px 5px;
  background-color: rgba(17, 17, 17, 0.85);
  color: #eee;
}

.fixedSection__critical {
  padding: 1px 5px;
  background-color: #aa3333;
  color: #eee;
}

.fixedSection__todayD {
  padding: 1px 5px;
  background-color: #dd3333;
  color: #eee;
}

.fixedSection__todayC {
  padding: 1px 5px;
  background-color: #e75e2c;
  color: #eee;
}
/*# sourceMappingURL=style.css.map */